<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.system.mapper.MailRecordMapper">

    <select id="listMailRecord" resultType="com.manager.common.core.domain.entity.MailRecord">
        SELECT
        smr.id as id,
        smr.tid as tid,
        smr.signature as signature,
        smr.addressee as addressee,
        smr.mail_title as mailTitle,
        smr.mail_content as mailContent,
        smr.mail_state as mailState,
        smr.mail_prop as mailProp,
        smr.create_time as createTime,
        smr.update_time as updateTime
        from
        sys_mail_record smr
        where tid = #{tid}
        <if test="id !=null">
            and smr.id = #{id}
        </if>
        <if test="addressee !=null and addressee !=''">
            and smr.addressee = #{addressee}
        </if>
        <if test="mailTitle !=null and mailTitle !=''">
            and smr.mail_title = #{mailTitle}
        </if>
        <if test="mailState !=null and mailState !=''">
            and smr.mail_state = #{mailState}
        </if>
        <if test="beginTime !=null and beginTime !=''">
            and date_format(smr.create_time,'%Y-%m-%d') >= #{beginTime}
        </if>
        <if test="endTime !=null and endTime !=''">
            and date_format(smr.create_time,'%Y-%m-%d') <![CDATA[<=]]> #{endTime}
        </if>
    </select>

    <insert id="saveMailRecord" parameterType="com.manager.common.core.domain.entity.MailRecord">
            insert into
            sys_mail_record(tid,signature,addressee,mail_title,mail_prop,mail_content,mail_state,create_time,update_time)
            values
            <foreach item="item" index="index" collection="addressee.split(',')" separator=",">
                (#{tenant},#{signature},#{item},#{mailTitle},#{mailProp},#{mailContent},#{mailState},sysdate(),sysdate())
            </foreach>
    </insert>

    <insert id="sendOutMail">
        insert into sys_mail_record(
            tid,
            addressee,
            mail_title,
            mail_prop,
            create_time,
            update_time,
            mail_content,
            mail_state,
            del_flag)
        values (
            #{tid},
            #{addressee},
            #{mailTitle},
            #{mailProp},
            sysdate(),
            sysdate(),
            #{mailContent},
            4,
            0
       )
    </insert>
</mapper>
