<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.system.mapper.PayMapper">

    <update id="editPay" parameterType="com.manager.common.core.domain.entity.Pay">
        update config_pay
        <set>
            <if test="sort!=null and sort!=''"> sort = #{sort},</if>
            <if test="cname!=null and cname!=''"> cname = #{status},</if>
            <if test="rechargeGive!=null and rechargeGive!=''"> recharge_give = #{rechargeGive},</if>
            <if test="status!=null and status!=''"> status = #{status},</if>
            <if test="payType!=null and payType!=''"> pay_type = #{payType},</if>
            updated_time = sysdate()
        </set>
        where id = #{id}
    </update>

</mapper>
