<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.system.mapper.RechargeOrderMapper">

    <select id="getRechargeOrderList" parameterType="com.manager.common.core.domain.entity.RechargeOrder"
            resultType="com.manager.common.core.domain.entity.RechargeOrder">
        SELECT
        cro.id as id,
        cro.tid as tid,
        cro.order_number as orderNumber,
        cro.third_party_order_number as thirdPartyOrderNumber,
        cro.uid as uid,
        (SELECT dr.name from data_register dr where dr.uid = cro.uid LIMIT 1) as uname,
        cro.before_order_money as beforeOrderMoney,
        cro.after_order_money as afterOrderMoney,
        cro.recharge_amount as rechargeAmount,
        (
        select
        <choose>
            <when test="monthlyCardType != null and monthlyCardType !='1'">
                cmr.jin_recharge_give as rechargeGive
            </when>
            <otherwise>
                cmr.yin_recharge_give as rechargeGive
            </otherwise>
        </choose>
        from
        config_month_recharge cmr
        where
        cmr.status = '1'
        and (cmr.yin_recharge_give = cro.recharge_amount or cmr.jin_recharge_give = cro.recharge_amount)
        limit 0,1
        ) as standAmount,
        cro.recharge_type as rechargeType,
        cro.recharge_channel as rechargeChannel,
        cro.payment_status as paymentStatus,
        (SELECT dr.channel from data_register dr where dr.uid = cro.uid LIMIT 1) as channel,
        cro.admin_user_id as adminUserId,
        cro.reality_name as realityName,
        cro.ex_coins as exCoins,
        cro.finish_time as finishTime,
        cro.create_time as createTime,
        cro.update_time as updateTime,
        cro.commodity_name as commodityName,
        cro.transfer_way as transferWay,
        cro.remark as remark,
        cro.operate_type as operateType,
        cro.operate_account as operateAccount
        FROM
        config_recharge_order cro
        where 1 = 1
        <if test="uid !=null and uid !=''">
            and cro.uid = #{uid}
        </if>
        <if test="orderNumber !=null and orderNumber !=''">
            and cro.order_number = #{orderNumber}
        </if>
        <if test="thirdPartyOrderNumber !=null and thirdPartyOrderNumber !=''">
            and cro.third_party_order_number = #{thirdPartyOrderNumber}
        </if>
        <if test="channel !=null and channel !=''">
            and (SELECT dr.channel from data_register dr where dr.uid = cro.uid) = #{channel}
        </if>
        <if test="adminUserId !=null and adminUserId !=''">
            and cro.admin_user_id = #{adminUserId}
        </if>
        <if test="realityName !=null and realityName !=''">
            and cro.reality_name = #{realityName}
        </if>
        <if test="rechargeType !=null and rechargeType !=''">
            and cro.recharge_type in
            <foreach item="item" index="index" collection="rechargeType.split(',')" open="(" separator="," close=")">
                '${item}'
            </foreach>
        </if>
        <if test="rechargeChannel !=null and rechargeChannel !=''">
            and cro.recharge_channel = #{rechargeChannel}
        </if>
        <if test="paymentStatus !=null and paymentStatus !=''">
            and cro.payment_status = #{paymentStatus}
        </if>
        <if test="rechargeAmount !=null">
            and cro.recharge_amount = #{rechargeAmount}
        </if>
        <if test="operateType !=null and operateType !=''">
            and cro.operate_type = #{operateType}
        </if>

        <if test="createTime1 !=null and createTime1 !=''">
            and cro.create_time >= #{createTime1}
        </if>
        <if test="createTime2 !=null and createTime2 !=''">
            and cro.create_time <![CDATA[<=]]>  #{createTime2}
        </if>
        <if test="finishTime1 !=null and finishTime1 !=''">
            and cro.finish_time >= #{finishTime1}
        </if>
        <if test="finishTime2 !=null and finishTime2 !=''">
            and cro.finish_time <![CDATA[<=]]>  #{finishTime2}
        </if>
    </select>

    <insert id="addRechargeOrder" parameterType="com.manager.common.core.domain.entity.RechargeOrder">
        insert into config_recharge_order(tid,
                                          order_number,
                                          uid,
                                          commodity_name,
                                          recharge_amount,
                                          recharge_type,
                                          recharge_channel,
                                          payment_status,
                                          create_time,
                                          finish_time,
                                          update_by,
                                          remark,
                                          operate_type,
                                          operate_account,
                                          before_order_money, after_order_money, admin_user_id, ex_coins)
        values (#{tid},
                #{orderNumber},
                #{uid},
                #{commodityName},
                #{rechargeAmount},
                #{rechargeType},
                #{rechargeChannel},
                '1',
                sysdate(),
                sysdate(),
                #{updateBy},
                #{remark},
                #{operateType},
                #{operateAccount},
                #{beforeOrderMoney}, #{afterOrderMoney}, #{adminUserId}, #{exCoins})
    </insert>

    <update id="editRechargeOrder" parameterType="com.manager.common.core.domain.entity.RechargeOrder">
        update config_recharge_order cro
        <set>
            <if test="rechargeAmount !=null">
                cro.recharge_amount = #{rechargeAmount},
            </if>
            <if test="beforeOrderMoney !=null">
                cro.before_order_money = #{beforeOrderMoney},
            </if>
            <if test="afterOrderMoney !=null">
                cro.after_order_money = #{afterOrderMoney},
            </if>
            <if test="adminUserId !=null">
                cro.admin_user_id = #{adminUserId},
            </if>
            <if test="exCoins !=null">
                cro.ex_coins = #{exCoins},
            </if>
            <if test="paymentStatus !=null">
                cro.payment_status = #{paymentStatus},
            </if>
            <if test="thirdPartyOrderNumber!=null and thirdPartyOrderNumber!=''">
                cro.third_party_order_number = #{thirdPartyOrderNumber},
            </if>
            <if test="remark!=null and remark!=''">
                remark = #{remark},
            </if>
            update_time = sysdate(),
            finish_time = sysdate()
        </set>
        where id = #{id} and tid=#{tid}
    </update>

    <select id="getRechargeAmount" resultType="java.util.Map">
        select
        <choose>
            <when test="monthlyCardType != null and monthlyCardType !='1'">
                jin_recharge as recharge,
                jin_recharge_give as rechargeGive
            </when>
            <otherwise>
                yin_recharge as recharge,
                yin_recharge_give as rechargeGive
            </otherwise>
        </choose>
        from
        config_month_recharge
        where
        status = '1' limit 0,1
    </select>


</mapper>
