<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.system.mapper.RotationPictureMapper">

    <insert id="addRotationPicture" parameterType="com.manager.common.core.domain.entity.RotationPicture">
        insert into sys_rotation_picture(tid,
                                         sort,
                                         ident,
                                         describes,
                                         type,
                                         url,
                                         state,
                                         extend_information,
                                         create_time, update_time, create_by, update_by)
        values (#{tid},
                #{sort},
                #{ident},
                #{describes},
                #{type},
                #{url},
                #{state},
                #{extendInformation},
                sysdate(), sysdate(), #{createBy}, #{createBy})
    </insert>

    <select id="listRotationPicture" resultType="com.manager.common.core.domain.entity.RotationPicture">
        select
        srp.id as id,
        srp.tid as tid,
        srp.sort as sort,
        srp.ident as ident,
        srp.describes as describes,
        srp.type as type,
        srp.url as url,
        srp.state as state,
        srp.extend_information as extendInformation,
        srp.create_time as createTime,
        srp.update_time as updateTime,
        srp.create_by as createBy,
        srp.update_by as updateBy
        from
        sys_rotation_picture srp
        where
        tid = #{tid}
        <if test="state !=null and state !=''">
            and srp.state = #{state}
        </if>
        <if test="createTime1 !=null and createTime1 !=''">
            and date_format(srp.create_time,'%Y-%m-%d') >= #{createTime1}
        </if>
        <if test="createTime2 !=null and createTime2 !=''">
            and date_format(srp.create_time,'%Y-%m-%d') <![CDATA[<=]]>  #{createTime2}
        </if>
    </select>

    <update id="editRotationPicture" parameterType="com.manager.common.core.domain.entity.RotationPicture">
        update sys_rotation_picture
        <set>
            <if test="sort!=null and sort!=''">sort = #{sort},</if>
            <if test="ident!=null and ident!=''">ident = #{ident},</if>
            <if test="describes!=null and describes!=''">describes = #{describes},</if>
            <if test="type!=null and type!=''">type = #{type},</if>
            <if test="url!=null and url!=''">url = #{url},</if>
            <if test="state!=null and state!=''">state = #{state},</if>
            <if test="extendInformation!=null and extendInformation!=''">extend_information = #{extendInformation},</if>
            update_time = sysdate(),
            update_by = #{updateBy}
        </set>
        where id = #{id} and tid=#{tid}
    </update>

</mapper>
