<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.system.mapper.SysTenantStatisticsMapper">
    <resultMap id="BaseResultMap" type="com.manager.common.core.domain.entity.SysTenantStatistics">
        <id column="t_id" property="tId" jdbcType="VARCHAR" />
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
        <result column="recharge_num" property="rechargeNum" jdbcType="INTEGER" />
        <result column="recharge_amount" property="rechargeAmount" jdbcType="DECIMAL" />
        <result column="withdraw_num" property="withdrawNum" jdbcType="INTEGER" />
        <result column="withdraw_amount" property="withdrawAmount" jdbcType="DECIMAL" />
        <result column="up_award_amount" property="upAwardAmount" jdbcType="DECIMAL" />
        <result column="lower_award_amount" property="lowerAwardAmount" jdbcType="DECIMAL" />
        <result column="under_commission" property="underCommission" jdbcType="DECIMAL" />
        <result column="agent_commission" property="agentCommission" jdbcType="DECIMAL" />
        <result column="register_num" property="registerNum" jdbcType="INTEGER" />
    </resultMap>
    <select id="getSysTenantStatistics" resultMap="BaseResultMap" parameterType="com.manager.common.core.domain.entity.SysTenantStatistics">
        SELECT
        sum(total_amount) as total_amount,
        sum(recharge_num) as recharge_num,
        sum(recharge_amount) as recharge_amount,
        sum(withdraw_num) as withdraw_num,
        sum(withdraw_amount) as withdraw_amount,
        sum(up_award_amount) as up_award_amount,
        sum(lower_award_amount) as lower_award_amount,
        sum(under_commission) as under_commission,
        sum(agent_commission) as agent_commission,
        sum(register_num) as register_num
        FROM sys_tenant_statistics
        <where>
        </where>
    </select>

    <sql id="Base_Column_List" >
        t_id, total_amount, recharge_num, recharge_amount, withdraw_num, withdraw_amount,
    up_award_amount, lower_award_amount, under_commission, agent_commission, register_num
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from sys_tenant_statistics
        where t_id = #{tId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from sys_tenant_statistics
        where t_id = #{tId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.manager.common.core.domain.entity.SysTenantStatistics" >
        insert into sys_tenant_statistics (t_id, total_amount, recharge_num,
                                           recharge_amount, withdraw_num, withdraw_amount,
                                           up_award_amount, lower_award_amount, under_commission,
                                           agent_commission, register_num)
        values (#{tId,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, #{rechargeNum,jdbcType=INTEGER},
                #{rechargeAmount,jdbcType=DECIMAL}, #{withdrawNum,jdbcType=INTEGER}, #{withdrawAmount,jdbcType=DECIMAL},
                #{upAwardAmount,jdbcType=DECIMAL}, #{lowerAwardAmount,jdbcType=DECIMAL}, #{underCommission,jdbcType=DECIMAL},
                #{agentCommission,jdbcType=DECIMAL}, #{registerNum,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.manager.common.core.domain.entity.SysTenantStatistics" >
        insert into sys_tenant_statistics
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="tId != null" >
                t_id,
            </if>
            <if test="totalAmount != null" >
                total_amount,
            </if>
            <if test="rechargeNum != null" >
                recharge_num,
            </if>
            <if test="rechargeAmount != null" >
                recharge_amount,
            </if>
            <if test="withdrawNum != null" >
                withdraw_num,
            </if>
            <if test="withdrawAmount != null" >
                withdraw_amount,
            </if>
            <if test="upAwardAmount != null" >
                up_award_amount,
            </if>
            <if test="lowerAwardAmount != null" >
                lower_award_amount,
            </if>
            <if test="underCommission != null" >
                under_commission,
            </if>
            <if test="agentCommission != null" >
                agent_commission,
            </if>
            <if test="registerNum != null" >
                register_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="tId != null" >
                #{tId,jdbcType=VARCHAR},
            </if>
            <if test="totalAmount != null" >
                #{totalAmount,jdbcType=DECIMAL},
            </if>
            <if test="rechargeNum != null" >
                #{rechargeNum,jdbcType=INTEGER},
            </if>
            <if test="rechargeAmount != null" >
                #{rechargeAmount,jdbcType=DECIMAL},
            </if>
            <if test="withdrawNum != null" >
                #{withdrawNum,jdbcType=INTEGER},
            </if>
            <if test="withdrawAmount != null" >
                #{withdrawAmount,jdbcType=DECIMAL},
            </if>
            <if test="upAwardAmount != null" >
                #{upAwardAmount,jdbcType=DECIMAL},
            </if>
            <if test="lowerAwardAmount != null" >
                #{lowerAwardAmount,jdbcType=DECIMAL},
            </if>
            <if test="underCommission != null" >
                #{underCommission,jdbcType=DECIMAL},
            </if>
            <if test="agentCommission != null" >
                #{agentCommission,jdbcType=DECIMAL},
            </if>
            <if test="registerNum != null" >
                #{registerNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.manager.common.core.domain.entity.SysTenantStatistics" >
        update sys_tenant_statistics
        <set >
            <if test="totalAmount != null" >
                total_amount = #{totalAmount,jdbcType=DECIMAL},
            </if>
            <if test="rechargeNum != null" >
                recharge_num = #{rechargeNum,jdbcType=INTEGER},
            </if>
            <if test="rechargeAmount != null" >
                recharge_amount = #{rechargeAmount,jdbcType=DECIMAL},
            </if>
            <if test="withdrawNum != null" >
                withdraw_num = #{withdrawNum,jdbcType=INTEGER},
            </if>
            <if test="withdrawAmount != null" >
                withdraw_amount = #{withdrawAmount,jdbcType=DECIMAL},
            </if>
            <if test="upAwardAmount != null" >
                up_award_amount = #{upAwardAmount,jdbcType=DECIMAL},
            </if>
            <if test="lowerAwardAmount != null" >
                lower_award_amount = #{lowerAwardAmount,jdbcType=DECIMAL},
            </if>
            <if test="underCommission != null" >
                under_commission = #{underCommission,jdbcType=DECIMAL},
            </if>
            <if test="agentCommission != null" >
                agent_commission = #{agentCommission,jdbcType=DECIMAL},
            </if>
            <if test="registerNum != null" >
                register_num = #{registerNum,jdbcType=INTEGER},
            </if>
        </set>
        where t_id = #{tId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.manager.common.core.domain.entity.SysTenantStatistics" >
        update sys_tenant_statistics
        set total_amount = #{totalAmount,jdbcType=DECIMAL},
            recharge_num = #{rechargeNum,jdbcType=INTEGER},
            recharge_amount = #{rechargeAmount,jdbcType=DECIMAL},
            withdraw_num = #{withdrawNum,jdbcType=INTEGER},
            withdraw_amount = #{withdrawAmount,jdbcType=DECIMAL},
            up_award_amount = #{upAwardAmount,jdbcType=DECIMAL},
            lower_award_amount = #{lowerAwardAmount,jdbcType=DECIMAL},
            under_commission = #{underCommission,jdbcType=DECIMAL},
            agent_commission = #{agentCommission,jdbcType=DECIMAL},
            register_num = #{registerNum,jdbcType=INTEGER}
        where t_id = #{tId,jdbcType=VARCHAR}
    </update>

</mapper>